/* Normalising CSS by Universal selector */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* box-sizing defines how width & height of ele are calculated */
}

/* Parent element setup - Project wide */
body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    padding: 0 2em;
}